@font-face {
    font-family: myfirstfont;
    src:url("../fonts/B-NAZANIN.TTF") format("TTF");
}
@font-face {
    font-family: "khodkar";
    src:url("../fonts/Far_khodkar.ttf") format("TTF");
}

body{
    direction: ltr;

}
h2{
    background-color: darkgreen;
}
.fontstyle1{
    font-family: myfirstfont;
    font-weight: normal;
    font-size: 50px;
    color: #15202b;
}
@media screen and (max-width: 300px) {
    #
h2{
    background-color: orange;
    font-size: 2.5rem;
}
p{
    font-size: 2.5rem;
}
}
p {
    text-indent: 2.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    word-spacing: 0.7rem;
    width: 30ch;
    column-count: 2;
    column-gap: 20px;
}
