body{
    font-family: 'Open sans', sans-serif;
}
#prostyle{
    float: right;
    height: 20px;
    width: 40px;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 4px  ;
    background-color: red;
}
.main-container
{
width: 800px;
margin:auto;
/*background-color:orange;*/
text-align: center;
}
#avatar-image{
    width: 60px;
    border-radius: 183%;
    border: 5px white solid;
}
.main-container h2{
    font-size: 14px;
    color: #grey;
    margin-top: 20px;
}
.main-container h3{
    font-size: 14px;
    color: #grey;
    margin-top: 20px;
    text-align: left;
}
.main-container p{
    font-size: 14px;
    color: #616161;
    margin-top: 20px;
    text-align: left;
}
#summary{
    text-align: left;
    color: #616161;
    font-weight: bold;
    font-size: 14px;
}
div h4:first-of-type{
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}
#icons-containaer span{
    text-align: right;
    color: white ;
    padding: 5px;
    border-radius: 5px;
    background-color: #2196F3;
}
#divider{
    border:  1px solid grey;
    margin: 5px 0;
}
#comments{
    border:  2px solid grey;
    padding: 40px;
}


